<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.12.0-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.12.0-web/css/brands.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.12.0-web/css/solid.min.css" rel="stylesheet" />
    <link href="~/Content/Datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/Datatable/Responsive-2.2.2/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand text-white display-4" href="#">GST Billing</a>
            @*<ul class="navbar-nav nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Owners <span class="sr-only">(current)</span></a>
                    </li>
                </ul>*@
            <a class="nav-link text-white font-weight-normal" href="@Url.Action("Index", "Home")">Owners</a>
        </div>
    </nav>
    @RenderBody()
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Datatable/datatables.min.js"></script>
    <script src="~/Content/Datatable/Responsive-2.2.2/js/dataTables.responsive.js"></script>
    @*<script src="~/Scripts/modernizr-2.8.3.js"></script>*@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
