@model GSTBillingApp.Models.ManageOwnerViewModel

<div class="row ">
    <div class="col-12">
        <p class="card-description p-0 m-0 font-weight-normal text-info h4">
            Owner Address Details
            <hr />
        </p>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-borderless table-hover" id="OwnerAddressTable" >
                        <thead class="bg-info text-white">
                            <tr>
                                <th class="d-none"></th>
                                <th class="d-none"></th>
                                <th>Street 1</th>
                                <th>Street 2</th>
                                <th>City</th>
                                <th>Post Code</th>
                                <th>State</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OwnerAddresses
                                .AddressList)
                            {
                                <tr>
                                    <td class="d-none">@Html.HiddenFor(model=>item.Id)</td>
                                    <td class="d-none">@Html.HiddenFor(model => item.AddressUIId)</td>
                                    <td>@Html.DisplayFor(model=>item.Street1)</td>
                                    <td>@Html.DisplayFor(model=>item.Street2)</td>
                                    <td>@Html.DisplayFor(model=>item.City)</td>
                                    <td>@Html.DisplayFor(model=>item.PostCode)</td>
                                    <td>@Html.DisplayFor(model=>item.StateValue)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-right">
                <button class="btn btn-sm btn-info" type="button" id="btnAddressModal"><span class="fa fa-plus-circle"></span></button>
            </div>
        </div>
    </div>



</div>

<div class="modal fade" id="AddressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  " role="document">

        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Address Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label class="text-danger" id="AddressErrorNote" style="display:none"> Note : All Fields are required.</label>
                        <div class="form-group has-danger mb-1">

                            @{


                                if (Model.OwnerAddresses.Id <= 0)
                                {
                                    Model.OwnerAddresses.IsUpdated = false;
                                    Model.OwnerAddresses.IsCreated = true;
                                }
                                else
                                {
                                    Model.OwnerAddresses.IsUpdated = true;
                                    Model.OwnerAddresses.IsCreated = false;
                                }
                            }
                            @Html.HiddenFor(model => model.OwnerAddresses.AddressUIId)
                            @Html.HiddenFor(model => model.OwnerAddresses.Id)

                            @Html.HiddenFor(model => model.OwnerAddresses.IsCreated)
                            @Html.HiddenFor(model => model.OwnerAddresses.IsUpdated)

                          
                        </div>

                        <div class="form-group mb-1">

                            <label class="control-label">Street 1</label>


                            @Html.TextBoxFor(model => model.OwnerAddresses.Street1, htmlAttributes: new { @class = "form-control", })
                            @Html.ValidationMessageFor(m => m.OwnerAddresses.Street1, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group has-danger mb-1">

                            <label class="control-label">Street 2</label>

                            @Html.TextBoxFor(model => model.OwnerAddresses.Street2, htmlAttributes: new { @class = "form-control", })
                            @Html.ValidationMessageFor(m => m.OwnerAddresses.Street2, "", new { @class = "text-danger" })

                        </div>


                        <div class="form-group has-danger mb-1">

                            <label class="control-label">City</label>

                            @Html.TextBoxFor(model => model.OwnerAddresses.City, htmlAttributes: new { @class = "form-control", })
                            @Html.ValidationMessageFor(m => m.OwnerAddresses.City, "", new { @class = "text-danger" })

                        </div>


                        <div class="form-group has-danger mb-1">

                            <label class="control-label">Post Code</label>


                            @Html.TextBoxFor(model => model.OwnerAddresses.PostCode, htmlAttributes: new { @class = "form-control", type = "number", @min = "0", oninput = "validity.valid||(value='')" })
                            @Html.ValidationMessageFor(m => m.OwnerAddresses.PostCode, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group has-danger mb-1">
                            <label class="control-label">State</label>


                            @Html.DropDownListFor(model => model.OwnerAddresses.StateId, Model.OwnerAddresses.StateDD, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OwnerAddresses.StateId, "", new { @class = "text-danger" })

                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-rounded btn-sm text-left" id="AddressDeleteBtn" style="display:none" onclick="DeleteOwnerAddress()">Delete</button>
                <button type="button" class="btn btn-info btn-rounded btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info btn-rounded btn-sm " id="AddAddressBtn">Save Information</button>
            </div>
        </div>
    </div>
</div>
