@model GSTBillingApp.Models.ManageOwnerViewModel


<div class="row">
    <div class="col-12">
        <p class="card-description p-0 m-0 font-weight-normal text-info h4">
            Owner Bank Details
            <hr />
        </p>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-borderless table-hover device-table">
                        <thead class="thead-dark bg-info text-white">
                            <tr>
                                <td>Bank Name</td>
                                <td>Branch Name</td>
                                <td>Account Number</td>
                                <td>IFSC Code</td>


                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-right">
                <button class="btn btn-sm btn-info" type="button" id="btnBankModal"><span class="fa fa-plus-circle"></span></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="BankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  " role="document">

        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Bank Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label class="text-danger" id="BankErrorNote" style="display:none"> Note : All Fields are required.</label>
                        <div class="form-group has-danger mb-1">

                            @{


                                if (Model.OwnerBank.Id <= 0)
                                {
                                    Model.OwnerBank.IsUpdated = false;
                                    Model.OwnerBank.IsCreated = true;
                                }
                                else
                                {
                                    Model.OwnerBank.IsUpdated = true;
                                    Model.OwnerBank.IsCreated = false;
                                }
                            }
                            @Html.HiddenFor(model => model.OwnerBank.BankUID)
                            @Html.HiddenFor(model => model.OwnerBank.Id)

                            @Html.HiddenFor(model => model.OwnerBank.IsCreated)
                            @Html.HiddenFor(model => model.OwnerBank.IsUpdated)


                        </div>

                        <div class="form-group mb-1">

                            <label class="control-label">Bank Name</label>

                            @Html.ValidationMessageFor(m => m.OwnerBank.BankName, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.OwnerBank.BankName, htmlAttributes: new { @class = "form-control", })


                        </div>

                        <div class="form-group has-danger mb-1">

                            <label class="control-label">Branch Name</label>
                            @Html.ValidationMessageFor(m => m.OwnerBank.Branch, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.OwnerBank.Branch, htmlAttributes: new { @class = "form-control", })


                        </div>


                        <div class="form-group has-danger mb-1">

                            <label class="control-label">Account Number</label>
                            @Html.ValidationMessageFor(m => m.OwnerBank.AccountNumber, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.OwnerBank.AccountNumber, htmlAttributes: new { @class = "form-control", type = "number", @min = "0", oninput = "validity.valid||(value='')" })


                        </div>


                        <div class="form-group has-danger mb-1">

                            <label class="control-label">IFSC Code</label>

                            @Html.ValidationMessageFor(m => m.OwnerBank.IFSC, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.OwnerBank.IFSC, htmlAttributes: new { @class = "form-control", })


                        </div>

                       

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-rounded btn-sm text-left" id="BankDeleteBtn" style="display:none">Delete</button>
                <button type="button" class="btn btn-info btn-rounded btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info btn-rounded btn-sm " id="AddABankDetailBtn">Save Information</button>
            </div>
        </div>
    </div>
</div>
